<div>
    <div class="grid h-full grid-cols-1 place-content-center gap-6 w-full p-4">
        <% if (error != null) { %>
        <div>
            <h2 class="text-6xl font-bold">
                <span class="mr-1">Error</span>
                <%= error.status %>
            </h2>
        </div>

        <div>
            <p><%= error.message%> , <%= error.detail%></p>

        </div>

        <div>
            <% if (data != null) { %>
                <p><%= JSON.stringify(data)%></p>
            <% }%>
        </div>

         <% }%>
    </div>
</div>