 <div class="px-4">
  <div class="relative mt-5 mb-10">
     <input type="input" name="search" id="search" placeholder="Search for Book..." value="<%=data.search%>" class="input-btn h-[2.625rem] border-black font-outfit font-light px-12" required>
      <!-- <svg class="w-4 h-4 absolute top-1/2 -translate-y-1/2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path c stroke="#6C63FF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg> -->
  </div>
  <h1 class="font-bold font-outfit text-2xl text-center my-8">
    A Library That's Always Open
  </h1>

  <p class="font-light font-outfit text-sm text-center my-8">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet laborum vel voluptatum pariatur facilis,
  </p>

  <div class="
    bg-[url(/images/tree_swing.svg)] h-56 image-style mt-8 mb-12
    lg:size-lvh lg:bg-fill lg:absolute lg:z-0 lg:inset-0 lg:w-full"></div>
  
  <div class="my-8 border-b-1 border-bottom border-gray-300">
    <div class="h-fit w-full flex flex-row justify-between items-center">
      <h2 class="font-bold text-2xl">Trending</h2>
      <span class="font-poppins font-light">See All <span class="font-inter">--></span>  </span>
    </div>
    <div class="h-fit w-full flex flex-row gap-4 items-center my-8 overflow-x-auto">

      <div class="h-52 w-38 bg-white border border-black rounded-sm shrink-0 py-3" >
        <div class="h-full w-full bg-[url(/images/book_cover.jpg)] bg-contain bg-center bg-no-repeat"></div>
      </div>

      <div class="h-52 w-38 bg-white border border-black rounded-sm shrink-0 py-3" >
        <div class="h-full w-full bg-[url(/images/book_cover.jpg)] bg-contain bg-center bg-no-repeat"></div>
      </div>

      <div class="h-52 w-38 bg-white border border-black rounded-sm shrink-0 py-3" >
        <div class="h-full w-full bg-[url(/images/book_cover.jpg)] bg-contain bg-center bg-no-repeat"></div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-8">
     <h1 class="font-bold font-outfit text-2xl text-center">
      Unlock a World of Books
     </h1>
    <h2 class=" font-outfit text-xl text-center">
      Join our online library and borrow with ease across our entire library network
     </h2>

    <p class="font-outfit text-sm font-light text-center">
      As a member, you gain exclusive access to a collaborative team of libraries—meaning more titles, 
      more flexibility, and zero hassle.Track your borrowed books, explore diverse collections, and enjoy 
      seamless lending from any connected branch. Your next great read could be just a click away.
     </p>

     <div class="bg-[url(/images/world_of_books_edit.png)] image-style h-56">

     </div>
  </div>
 
 </div>
 



<!-- <div class="h-14 bg-linear-to-r from-cyan-500 to-blue-500"></div> -->

<% if (data != null) { %>
  <p><%= JSON.stringify(data)%></p>
<% }%>
  





