 <div>  <!-- START CONTAINER -->

  <!-- Banner Section -->
  <div class="px-4 md:px-8 md:mt-6">

    <div class="md:flex md:flex-row md:justify-around md:w-full  md:py-16 md:rounded-sm md:bg-primary">

      <div class="md:flex md:flex-col md:w-1/2 md:justify-between md:h-72">

          <div class="relative mt-5 mb-10 md:order-3 md:my-0 md:mt-0 md:flex md:flex-row md:items-end md:gap-4">
            <input type="input" name="search" id="search" placeholder="Search for Book..." value="<%=data.search%>" class=" input-btn h-[2.625rem]  font-outfit font-light px-12 md:w-3/5" required>
            <!-- <svg class="w-4 h-4 absolute top-1/2 -translate-y-1/2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path c stroke="#6C63FF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg> -->
            <button class="hidden md:block md:h-[2.625rem] md:w-1/6 md:btn-1 md:p-2 md:font-outfit md:bg-accent md:rounded-sm  md:text-white">Search</button>
          </div>

          <h1 class="font-bold font-outfit text-2xl text-center my-8 md:text-left md:text-5xl md:order-1 md:my-0 md:3.5/5 md:text-white">
            A Library That's Always <br class="hidden md:block"> Open
          </h1>
 
          <p class="font-light font-outfit text-md text-center my-8 md:text-left md:order-2 md:my-0 md:w-2/3 md:text-white">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet laborum vel voluptatum pariatur facilis,
          </p>

      </div>

      <div class="
      bg-[url(/images/tree_swing.svg)] h-56 image-style mt-8 mb-12
      md:h-72 md:w-1/3 md:mt-0 bg-body"></div>

    </div>


  
    <!-- Trending Books -->
    <div class="my-8 border-b-1 border-bottom border-gray-300 md:my-12 md:px-0 md:pb-5">

      <div class="h-full w-full flex flex-row justify-between items-center">
        <h2 class="font-bold text-2xl">Trending</h2>
        <a href="#" class="font-poppins font-light hover-animation"> See All <span class="font-inter">--></span>  </a>
      </div>

      <div class="h-full w-full flex flex-row gap-4 justify-between my-8 overflow-x-auto pb-5 md:justify-between md:mb-12 md:flex-1 md:items-start">

      <% if (data.books.length) { %>
          <% data.books.forEach(book => { %>
            <div class="card-showcase group">
              <div class="card-container">
                <div class="card-img " style='background-image: url("<%= encodeURIComponent(book.img_url) %>")'>
                
                </div>
              </div>
              <p class="book-title"><%=book.book_nm%></p>
              <div class="px-1 mt-4 flex flex-row justify-start">
                <button class="nav-btn-2 w-[90%] bg-accent text-white">Borrow now</button>
              </div>
            </div>
            
          <% }) %>
      <% }%>


      </div> 

    </div>
  </div>
  

  <!-- World of Books Section -->
  <div class="flex flex-col px-8 md:h-100 md:mb-30 md:mt-20">
    <div class="md:flex md:flex-row md:gap-24">

      <div class="flex flex-col gap-8 mb-8 md:w-2/3 h-full md:justify-end">
        <h1 class="font-bold font-outfit text-2xl text-center md:text-left md:text-4xl">Unlock a World of Books</h1>
        <h2 class=" font-outfit text-xl text-center md:text-left md:text-2xl">Join our online library and borrow with ease across <br> our entire library network</h2>
        <p class="font-outfit text-sm font-light text-center md:text-left md:text-base">
        As a member, you gain exclusive access to a collaborative team of libraries—meaning more titles, 
        more flexibility, and zero hassle.Track your borrowed books, explore diverse collections, and enjoy 
        seamless lending from any connected branch. Your next great read could be just a click away.
        </p>
         <a href="/signup" class="hidden cta-btn md:block md:my-4 md:w-1/2">Join now</a>
      </div>

      <div class="bg-[url(/images/world_of_books_edit.png)] image-style h-56 w-full md:h-full md:w-2/3"></div>
    </div>

     <a href="/signup" class="block cta-btn my-12 md:hidden">Join now</a>
  </div>

  <!-- Genres Section -->
   <div class="my-8 w-full md:mb-40">

    <div class="h-fit w-full bg-dark_primary py-6 my-8">
      <h2 class="font-poppins font-bold tracking-wide text-white text-center md:text-2xl">Discover Books from your favorite genres</h2>
    </div>

    <div class="px-4 w-full md:flex md:flex-col md:justify-center md:px-20">

      <div class="" id="comedy-sec">

        <div class="genre-heading bg-comedy_yellow">
          <h3 class="genre-text">Comedy</h3>
          <a href="#" class="font-outfit font-light hover-animation"> See All <span class="font-inter">--></span>  </a>
        </div>

        <div class="h-full w-full flex flex-row gap-4 items-center my-8 overflow-x-auto pb-5 md:justify-between md:mb-12">
          
          <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover.jpg)] "></div>
          </div>
          <p class="book-title">Beyond the Ocean Door</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_2.jpg)] "></div>
          </div>
          <p class="book-title">Really good, Actually</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_4.jpg)] "></div>
          </div>
          <p class="book-title">A Chorus of Swords</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_5.jpg)] "></div>
          </div>
          <p class="book-title">The Silverblood Promise</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_6.jpg)] "></div>
          </div>
          <p class="book-title">Breaking the Ice</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

         <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_7.jpg)] "></div>
          </div>
          <p class="book-title">The Age of Storms 2</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
            <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        
        </div>
      </div>


      <div class="" id="action-sec">

        <div class="genre-heading bg-action_orange">
          <h3 class="genre-text">Action & Adventure</h3>
          <a href="#" class="font-outfit font-light hover-animation"> See All <span class="font-inter">--></span>  </a>
        </div>

        <div class="h-full w-full flex flex-row gap-4 items-center my-8 overflow-x-auto pb-5 md:justify-between md:mb-12">
        
          <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover.jpg)] "></div>
          </div>
          <p class="book-title">Beyond the Ocean Door</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_2.jpg)] "></div>
          </div>
          <p class="book-title">Really good, Actually</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_4.jpg)] "></div>
          </div>
          <p class="book-title">A Chorus of Swords</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_5.jpg)] "></div>
          </div>
          <p class="book-title">The SilverBlood Promise</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_6.jpg)] "></div>
          </div>
          <p class="book-title">Breaking the Ice</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

         <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_7.jpg)] "></div>
          </div>
          <p class="book-title">The Age of Storms 2</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
            <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        </div>

      </div>

      <div class="" id="scifi-sec">

        <div class="genre-heading bg-scifi">
          <h3 class="genre-text">Science Fiction</h3>
          <a href="#" class="font-outfit font-light hover-animation"> See All <span class="font-inter">--></span>  </a>
        </div>

        <div class="h-full w-full flex flex-row gap-4 items-center my-8 overflow-x-auto pb-5 md:justify-between md:mb-12">
        
          <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover.jpg)] "></div>
          </div>
          <p class="book-title">Beyond the Ocean Door</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_2.jpg)] "></div>
          </div>
          <p class="book-title">Really good, Actually</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_4.jpg)] "></div>
          </div>
          <p class="book-title">A Chorus of Swords</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_5.jpg)] "></div>
          </div>
          <p class="book-title">The Silverblood Promise</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_6.jpg)] "></div>
          </div>
          <p class="book-title">Breaking the Ice</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
             <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

         <div class="card-showcase group">
          <div class="card-container">
            <div class="card-img bg-[url(/images/book_cover_7.jpg)] "></div>
          </div>
          <p class="book-title">The Age of Storms 2</p>
          <div class="px-1 mt-4 flex flex-row justify-start">
            <button class="nav-btn-2 w-[90%] bg-accent text-white"> Borrow now</button>
          </div>
        </div>

        </div>

      </div>


      <a href="/signup" class="block w-full cta-btn"> View All</a>
      
    </div>

  </div>
 
 </div> <!-- END CONTAINER -->







<% if (data != null) { %>
  <p><%= JSON.stringify(data)%></p>
<% }%>
  





