@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@config "./tailwind.config.js";


@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  --shadow-dxsml: 0 5px 0px hsl(245 17% 29%); 
  --shadow-dsml: 0 10px 0px hsl(245 17% 29%);
  --shadow-dmd: 0 15px 0px hsl(245 17% 29%); 
}

@layer components {
    .btn-1 {
        @apply w-full rounded-sm bg-accent text-white font-inter shadow-sm transition delay-150 duration-300 ease-in-out
        hover:cursor-pointer hover:-translate-y-1 hover:scale-110
    }

    .cta-btn{
        @apply w-full rounded-md p-3 bg-accent text-white font-poppins font-bold  text-center shadow-dsml
        transition delay-150 duration-300 ease-in-out
        hover:cursor-pointer hover:-translate-y-1 hover:scale-110
    }

    .input-btn {
        @apply font-inter mt-2 border border-gray-300 w-full px-2 py-3 rounded-sm bg-white
    }

    .input-label{
        @apply font-inter font-semibold hidden lg:block 
    }

    .input-label-2{
        @apply font-inter font-semibold 
    }

    /* .image-contain-center{
        @apply bg-contain bg-center bg-no-repeat
    } */

    .image-style{
        @apply bg-contain bg-center bg-no-repeat border rounded-lg shadow-dsml
    }

    /* .card-container{
        @apply h-52 w-38 bg-white rounded-sm shrink-0 py-3 border border-slate-300 shadow-sm md:h-66 md:w-46
    } */

    .card-showcase{
        @apply md:w-50  flex flex-col

    }

    .card-row-between{
        @apply h-full w-full flex flex-row gap-4 items-center my-8 overflow-x-auto pb-5 md:justify-between md:mb-12
    }

    .card-row-start{
        @apply h-full w-full flex flex-row gap-4 items-center my-8 overflow-x-auto pb-5 md:justify-start md:mb-12
    }

    .card-img{
        @apply h-full w-full px-1 
               object-contain object-center 
               transition delay-50 duration-250 ease-in-out group-hover:cursor-pointer group-hover:-translate-y-10 group-hover:scale-100
    }

    .card-container{
        @apply h-52 w-38 shrink-0 md:h-66 md:w-46 md:shadow-dxsml md:rounded-md md:pb-2 
    }

    .card-container-bd{
        @apply h-52 w-38 bg-white border border-black rounded-sm shrink-0 py-3
    }

    .book-title{
        @apply pl-2 md:px-1 mt-4 font-outfit truncate w-30 md:w-full 
    }

    /* .card-animation{
        @apply transition delay-50 duration-250 ease-in-out group-hover:cursor-pointer group-hover:-translate-y-10 group-hover:scale-100
    } */

    .cards{
        @apply py-10 w-full 
    }
    .cards tbody {
    @apply  flex h-84 flex-wrap justify-between
    }
    .cards tbody tr {
    @apply h-58 w-42 flex flex-col bg-white relative hover:cursor-pointer z-10;
    }
    .cards tbody td {
    @apply w-fit flex flex-col items-start;
    }
    .cards tbody tr td span {
        @apply w-40 font-outfit text-gray-700 truncate 
    }
    .cards tbody tr td img {
        @apply h-58 w-42 object-fill object-center z-10 transition delay-50 duration-250 ease-in-out group-hover:cursor-pointer group-hover:-translate-y-10 group-hover:scale-100
    }

    .cards tbody tr td .ratings{
        @apply absolute top-55 left-1/2 -translate-x-1/2 -translate-y-1/2 z-0 w-full flex flex-row justify-center
    }

     /* RATING */

     .full-star{
        @apply bg-[url(/images/star_rate_gold.svg)] bg-cover bg-center bg-no-repeat h-6 w-6 
     }

     .half-star{
         @apply bg-[url(/images/star_rate_half_gold.svg)] bg-cover bg-center bg-no-repeat h-6 w-6 
     }

     .empty-star{
         @apply bg-[url(/images/star_rate.svg)] bg-cover bg-center bg-no-repeat h-6 w-6  
     }

     

    .paginate_button {
        @apply font-outfit text-sm bg-transparent
    }

    .paginate_button.current{
       @apply text-white
    }
    
    /* Hide by default (mobile) */
    .dataTables_paginate, .dt-paging , .dataTables_info {
        display: none !important;
    }

    /* Show on medium screens and up */
    @media (min-width: 768px) { /* md breakpoint in default Tailwind config */
        .dataTables_paginate, .dt-paging , .dataTables_info {
            display: block !important; /* or flex, depending on the layout */
        }

        .dataTables_info {
        @apply font-outfit tracking-wide font-light
        }
    }

    


    /* .cards tbody td div button {
        @apply nav-btn-2 w-[90%] bg-accent text-white    
    } */

    .nav-btn{
        @apply flex flex-col items-center justify-center h-10 px-6 text-center font-outfit border border-black rounded-sm 
        transition delay-150 duration-300 ease-in-out hover:cursor-pointer hover:-translate-y-1 hover:scale-110
    }

       .nav-btn-2{
        @apply w-full flex flex-col items-center justify-center h-10 px-2 text-center font-outfit rounded-sm 
        transition delay-150 duration-300 ease-in-out hover:cursor-pointer hover:-translate-y-1 hover:scale-105
    }


    .hover-animation{
         @apply transition delay-50 duration-300 ease-in-out hover:cursor-pointer hover:-translate-y-1 hover:scale-110
    }

    .nav-link{
        @apply relative after:left-0 after:bottom-[-4px] font-outfit origin-bottom-left   
        after:absolute after:w-full after:h-1 after:content-[''] 
        after:bg-linear-to-r after:from-primary after:to-body 
        after:scale-x-0 hover:after:scale-x-100 
        after:transition-transform after:duration-300  
        after:origin-bottom-left      
        after:rounded-md 
    }

   


    /* GENRES */

    .genre-heading{
        @apply border border-black rounded-xl flex flex-row justify-between px-4 py-6
    }

    .genre-text{
        @apply font-poppins font-bold text-xl
    }

    
}


